[submodule "inventory-api"]
	path = inventory-api
	url = git@github.com:UAchado/inventory-api.git
[submodule "drop-off-points-api"]
	path = drop-off-points-api
	url = git@github.com:UAchado/drop-off-points-api.git
